  
// Nav-list
.nav-list{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    -webkit-clip-path: circle(0% at 92% 10%);
    clip-path: circle(0% at 92% 10%) ;
    -webkit-transition:all 1s ease-in;
      -o-transition:all 1s ease-in;
       transition: all 1s ease-in;
    @include flex(center,center,column);
    .nav-item{
        padding: 0.8rem 0;
        margin-bottom: 1rem ;
        overflow: hidden;
        text-align: center;  
        position: relative;   
        &:hover .nav-link::after{
         width:140%;         
        }
        &:hover .nav-link{
            color:$color-primary;
        }
        .nav-link{
            pointer-events: none;
            text-decoration:none;
            @include font($font-medium, 300);
            @include responsive(320){
            @include font(1.2rem, 300);
            }
            color: $color-white;
            position: relative;
            padding: 0 0.2rem;
            z-index: 3;
            color:$color-white;
            -webkit-transition:color 0.5s ease-in;
              -o-transition:color 0.5s ease-in;
               transition: color 0.5s ease-in;    
            &::after{
            content: '';
            position: absolute;
            top:0%;
            right: -20%;
            width: 0%;
            height: 700%;
            -webkit-transform:translateY(-30%) rotate(40deg);
              -ms-transform:translateY(-30%) rotate(40deg);
               transform: translateY(-30%) rotate(40deg);
            background-color: white;
            z-index: -1;
            -webkit-transition:width 0.5s ease-in;
              -o-transition:width 0.5s ease-in;
               transition: width 0.5s ease-in;   
            }      
        } 

    }
    &.open{
        -webkit-clip-path: circle(100% at 92% 10%);
        clip-path: circle(100% at 92% 10%);
        .nav-link{
            pointer-events: all;
        }
        }
} 
// header
.header{
    width:100vw;
    height: 100vh;
    min-height: 550px;
    overflow: hidden;
    background: url("../images/one.jpg") 10% 90% no-repeat;
    background-size: cover; 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
    &-content{
        text-align: center;
        position: relative;
        top:25%;
      h1{
        letter-spacing: 15px;
        margin-right: -15px;
        @include font($font-large,700);
        @include responsive(690){
        @include font($font-extra-large,700);
        }
      }
      p{
         letter-spacing: 7px;
          margin-right: -7px;
          padding: 0 2rem;
          @include font(0.8rem,700);         
          @include responsive(690){
          @include font(1rem,700);
          }
      }
    }
}
// nab-bar
.nav{
    position: absolute;
    top: 3%; 
    padding: 0 2rem;  
    .hamburger-menu{
        background-color:white;
        min-width: 60px;
        min-height: 60px;
        @include flex(center,center,column);
        border-radius: 50%;
        position: fixed;
        right: 5%;
        z-index:100;
        -webkit-box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.04),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.09),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12) ;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.04),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.09),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
        ;
        .bar{
            width: 50%;
            height: 2px;
            background-color: $color-dark;
            -webkit-transition:all 800ms;
              -o-transition:all 800ms;
               transition: all 800ms;
            &-one{
                &.change{
                    -webkit-transform:rotate(-45deg) translate(-4px,5px);
                      -ms-transform:rotate(-45deg) translate(-4px,5px);
                        transform: rotate(-45deg) translate(-4px,5px);
                }
            }
            &-two{
                margin: 5px 0;
                &.change{
                    opacity: 0;
                }  
                }       
            &-three{
                &.change{
                    -webkit-transform:rotate(45deg) translate(-5px,-5px);
                      -ms-transform:rotate(45deg) translate(-5px,-5px);
                        transform: rotate(45deg) translate(-5px,-5px);
                }
            }
        }
        &:hover{
            cursor: pointer;
        }
    }
}
// Site Details
.site-details{
    &-heading{
        letter-spacing: 5px;
        margin-left: auto;
        margin-right: auto;;
        text-align: center;
        width: fit-content;
 
        @-webkit-keyframes text-shadow-effect {
            
            1%{
                -webkit-transform:translateY(0);
                -ms-transform:translateY(0);
                  transform: translateY(0);
                  text-shadow: 
                  0 0 0 $color-primary, 
                  0 0 0 #2cfcfd, 
                  0 0 0 $color-primary-light, 
                  0 0 0 $color-dark;
                  
            }
            20% { 
          
                -webkit-transform:translateY(-1em);
                  -ms-transform:translateY(-1em); 
                    transform: translateY(-1em);
                text-shadow: 
                    0 0.125em 0 $color-primary, 
                    0 0.25em 0 #2cfcfd, 
                    0 -0.125em 0 $color-primary-light, 
                    0 -0.25em 0 $color-dark;
            }
            40% { 
             
                -webkit-transform:translateY(0.5em);
                  -ms-transform:translateY(0.5em); 
                    transform: translateY(0.5em);
                text-shadow: 
                    0 -0.0625em 0 $color-primary, 
                    0 -0.125em 0 #2cfcfd, 
                    0 0.0625em 0 $color-primary-light, 
                    0 0.125em 0 $color-dark;
            }
           60% {
               
                -webkit-transform: translateY(-0.25em);
                  -ms-transform: translateY(-0.25em);
                   transform: translateY(-0.25em);
                text-shadow: 
                    0 0.03125em 0 $color-primary, 
                    0 0.0625em 0 #2cfcfd, 
                    0 -0.03125em 0 $color-primary-light, 
                    0 -0.0625em 0 $color-dark;
            }
            80% {  
              
                -webkit-transform:translateY(0);
                  -ms-transform:translateY(0);
                    transform: translateY(0);
                text-shadow: 
                    0 0 0 $color-primary, 
                    0 0 0 #2cfcfd, 
                    0 0 0 $color-primary-light, 
                    0 0 0 $color-dark;
            }
            100%{
                display: block !important;
                opacity: 1 !important;
            }
           
            
        }
        @-moz-keyframes text-shadow-effect{
            1% {  
  
                -webkit-transform:translateY(0);
                  -ms-transform:translateY(0);
                    transform: translateY(0);
                text-shadow: 
                    0 0 0 $color-primary, 
                    0 0 0 #2cfcfd, 
                    0 0 0 $color-primary-light, 
                    0 0 0 $color-dark;
            }
            20% { 
          
                -webkit-transform:translateY(-1em);
                  -ms-transform:translateY(-1em); 
                    transform: translateY(-1em);
                text-shadow: 
                    0 0.125em 0 $color-primary, 
                    0 0.25em 0 #2cfcfd, 
                    0 -0.125em 0 $color-primary-light, 
                    0 -0.25em 0 $color-dark;
            }
            40% { 
          
                -webkit-transform:translateY(0.5em);
                  -ms-transform:translateY(0.5em); 
                    transform: translateY(0.5em);
                text-shadow: 
                    0 -0.0625em 0 $color-primary, 
                    0 -0.125em 0 #2cfcfd, 
                    0 0.0625em 0 $color-primary-light, 
                    0 0.125em 0 $color-dark;
            }
           60% {
        
                -webkit-transform: translateY(-0.25em);
                  -ms-transform: translateY(-0.25em);
                   transform: translateY(-0.25em);
                text-shadow: 
                    0 0.03125em 0 $color-primary, 
                    0 0.0625em 0 #2cfcfd, 
                    0 -0.03125em 0 $color-primary-light, 
                    0 -0.0625em 0 $color-dark;
            }
            80% {  
                
                -webkit-transform:translateY(0);
                  -ms-transform:translateY(0);
                    transform: translateY(0);
                text-shadow: 
                    0 0 0 $color-primary, 
                    0 0 0 #2cfcfd, 
                    0 0 0 $color-primary-light, 
                    0 0 0 $color-dark;
            }
            100%{
           
                display: block !important;
                opacity: 1 !important;
              }
            
        }
        @keyframes text-shadow-effect {
            1% {  
                
                -webkit-transform:translateY(0);
                  -ms-transform:translateY(0);
                    transform: translateY(0);
                text-shadow: 
                    0 0 0 $color-primary, 
                    0 0 0 #2cfcfd, 
                    0 0 0 $color-primary-light, 
                    0 0 0 $color-dark;
              
            }
            20% { 
         
                -webkit-transform:translateY(-1em);
                  -ms-transform:translateY(-1em); 
                    transform: translateY(-1em);
                text-shadow: 
                    0 0.125em 0 $color-primary, 
                    0 0.25em 0 #2cfcfd, 
                    0 -0.125em 0 $color-primary-light, 
                    0 -0.25em 0 $color-dark;
            }
            40% { 
             
                -webkit-transform:translateY(0.5em);
                  -ms-transform:translateY(0.5em); 
                    transform: translateY(0.5em);
                text-shadow: 
                    0 -0.0625em 0 $color-primary, 
                    0 -0.125em 0 #2cfcfd, 
                    0 0.0625em 0 $color-primary-light, 
                    0 0.125em 0 $color-dark;
            }
           60% {  
           
                -webkit-transform: translateY(-0.25em);
                  -ms-transform: translateY(-0.25em);
                   transform: translateY(-0.25em);
                text-shadow: 
                    0 0.03125em 0 $color-primary, 
                    0 0.0625em 0 #2cfcfd, 
                    0 -0.03125em 0 $color-primary-light, 
                    0 -0.0625em 0 $color-dark;
            }
            80% {  
                
                -webkit-transform:translateY(0);
                  -ms-transform:translateY(0);
                    transform: translateY(0);
                text-shadow: 
                    0 0 0 $color-primary, 
                    0 0 0 #2cfcfd, 
                    0 0 0 $color-primary-light, 
                    0 0 0 $color-dark;
            }
            100%{
               display: block !important;
                opacity: 1 !important;
              }
            
        }
    
          &:hover{
            -webkit-animation-name:text-shadow-effect;
            animation-name:text-shadow-effect;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

             @media (prefers-reduced-motion: reduce) {
                * {
                  -webkit-animation: none !important;
                  animation: none !important;
                  -webkit-transition:none !important;
                   -o-transition:none !important;
                    transition: none !important;
                }
            }
        
        
         }
    }
    &-content{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
          -webkit-box-direction:normal;
           -ms-flex-direction:column;
             flex-direction:column;
       @include responsive(1080){
        -webkit-box-orient:horizontal;
          -webkit-box-direction:normal;
            -ms-flex-direction:row;
              flex-direction:row;
        
            max-width: 100%;          
       }     
        .desc{
            order: 2;
            @include responsive(1080){
                -webkit-box-flex:45%;
                  -ms-flex:45%;
                    flex:45%;
                order: 1;
                padding-right: 50px;
            }                 
        } 
        .images{
            order: 1;
            position: relative;
            margin: 0 auto;
            min-height:400px;
            width: 100%;  
            @include responsive(375){
                width: 315px;
              }        
            @include responsive(480){
                width: 415px;
                min-height:350px;
            }           
            @include responsive(1080){
                order: 2;
                width: 550px;
                height: initial;
                margin: none;
                padding-left: 20px;               
            } 
        }
    }
    .img-container{
        display: block;
        -webkit-box-shadow:0px 10px 20px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
        max-width: 100%;
        height: 160px; 
        margin-bottom: 2rem;
        -webkit-transition:outline-offset 0.3s ease;
        -o-transition:outline-offset 0.3s ease;
          transition: outline-offset 0.3s ease;
       
         @include responsive(375){
            position: absolute;
            max-width: 240px;
            height: 160px; 
           
         }       
        @include responsive(480){
            position: absolute;
            max-width: 250px;
            height: 160px; 
        }
        @include responsive(1080){
           position: absolute;
            width: 280px;
            max-width: 280px;
            height: 180px;
        }
        
        
        
        &.image-two{  
            @include responsive(375){
                margin:100px 0 0 70px;
            }            
             @include responsive(480){
                margin:40px 0 0 160px;      
            }
             @include responsive(1080){
               margin: 25px 0 0 230px;  
            }
        }
        &.image-three{
            margin-bottom:4rem;
            @include responsive(375){
                margin:200px 0 0 35px;
            }
            @include responsive(480){
                margin:100px 0 0 80px;
            } 
            @include responsive(1080){
                margin: 100px 0 0 100px;
            }    
        }
        
        &:hover{
            outline: 15px solid $color-primary-light;
            outline-offset: 15px;
            z-index: 10;
        }   
    }
}
// location details
.location-details{
    background:url("../images/home-bg-4.jpg");
    background-size: cover;
    height: 100%;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

    @include responsive(595){
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);

    }
    @include responsive(970){
        -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    }
    .overlay{
        padding: 16rem 0;
    }
    .card-container{
        -ms-flex-preferred-size:100%;
         flex-basis: 100%;
        margin-bottom: 1.5rem;
        @include responsive(595){
        -ms-flex-preferred-size:45%;
            flex-basis: 45%;
        }
        @include responsive(970){
        -ms-flex-preferred-size:23%;
            flex-basis:23%;
        } 
        .card{
            @include set-background(rgba($color-white,0.7));
            text-align: center;
            padding:1rem;
            -webkit-transition:-webkit-transform 0.3s ease-in;
              -o-transition:transform 0.3s ease-in;
                transition: transform 0.3s ease-in;
            i{
                @include font($font-extra-large,300);
                padding:2rem 0;
            }
            &-content{
                line-height: 2rem;
            }
        }
        &:hover .card{
            -webkit-transform:translateY(-20px);
                -ms-transform:translateY(-20px);
                  transform: translateY(-20px);
            cursor: pointer;
        }
    }
}
// popular sites
.popular-sites{
    text-align: center;
    .site-container{
        -webkit-box-orient:vertical;
         -webkit-box-direction:normal;
          -ms-flex-direction:column;
           flex-direction:column;

        @include responsive(970){
            -webkit-box-orient:horizontal;
              -webkit-box-direction:normal;
               -ms-flex-direction:row;
                 flex-direction:row;
        }
    }
    .card-container{
        text-align: center;
        width: 100%;
        height: 400px;
        min-height: 400px;
        margin-bottom: 2rem;
        display: inline-block;
        &:hover .card{
            -webkit-transform:rotateY(180deg);
              -ms-transform:rotateY(180deg);
                transform: rotateY(180deg);
            cursor: pointer;
        } 
        @include responsive(480){
            width: 70%;
            -ms-flex-preferred-size:70%;
            flex-basis:70%;
        }
        @include responsive(970){
           margin-bottom: initial;
           -ms-flex-preferred-size:28%;
           flex-basis: 28%;
        }
    }
   .card{  
       position: relative;
       -webkit-transform-style:preserve-3d;
       transform-style: preserve-3d;  
       height: 100%;
       min-height: 100%;
       width: 100%;
       -webkit-transition:-webkit-transform 1s ease;
         -o-transition:transform 1s ease;
          transition: transform 1s ease;
       -webkit-box-shadow:0px 10px 20px 5px rgba(0, 0, 0, 0.5); 
       box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);  
       &-front{
           position: absolute;
           -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
           min-height: 100%;
           width: 100%;
           .card-img{
                height: 200px;
                min-height: 200px;
                width: 100%;
                @extend .clip-path;  
           }    
            .title{
                position: absolute;
                top:20%;
                right: 0;
                color: $color-white;
                @include font($font-medium,300);
                padding:1rem; 
                .align-right{
                    float: right;
                    margin-top: -0.3rem;  
                    padding:0.4rem;  
                }
                .river-title{
                    background: -o-radial-gradient(set-radial-background(#f5b542,#e37a42,0.7));
                    background:radial-gradient(set-radial-background(#f5b542,#e37a42,0.7));    
                }
                .forest-title{
                    background: -o-radial-gradient(set-radial-background($color-primary,$color-primary-light,0.7));
                    background:radial-gradient(set-radial-background($color-primary,$color-primary-light,0.7));     
                }
                .sunset-title{
                    background: -o-radial-gradient(set-radial-background(#5094fa,#4540ca,0.7));
                    background:radial-gradient(set-radial-background(#5094fa,#4540ca,0.7)); 
                }
            } 
            ul{
                @include responsive(307){
                    padding: 0 1rem;
                } 
            }     
       }
       &-back{
            position: absolute;
            text-align: center;
            color:$color-white;
            padding:7rem 0;
            -webkit-transform:rotateY(180deg);
                -ms-transform:rotateY(180deg);
                   transform: rotateY(180deg);
            -webkit-backface-visibility: hidden; 
            backface-visibility: hidden;
            height: 100%;
            width: 100.1%;
            p{
                @include font($font-small,500);
            }
            .price-title{
                @include font($font-extra-large,300);   
            }
        }    
    } 
}
// feed back
.feedback{
    padding-top: 4rem;
    .container{
        max-width: 100%;
   }
    .comment-container{ 
        @include set-background(rgba($color-white,0.7));
        padding: 2rem 3rem;
        width: 100%;
        @include responsive(480){
            max-width: 80%;
        }
        margin: 0 auto 4rem;
        @include flex(center,center,column);
        -webkit-transform:skewX(-5deg);
            -ms-transform:skewX(-5deg);
               transform: skewX(-5deg); 
        @include responsive(768){
            @include flex(center,center);
            -webkit-transform:skewX(-10deg);
              -ms-transform:skewX(-10deg);
                transform: skewX(-10deg); 
        }
        .profile-container{
            position: relative;
            padding-bottom:2rem;
            &:hover .profile{
                filter: blur(3px);
                -webkit-filter: blur(3px);      
                cursor: pointer;    
            }
            &:hover .profile-title{
               display: block;   
            }
        }
        .profile-title{                                                                                             position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform:translate(-50%,-50%);
              -ms-transform:translate(-50%,-50%);
                transform: translate(-50%,-50%);
            text-align: center;
            @include font($font-small, 300);
            display: none;
        }
        .profile{
            width: 180px;
            height: 180px;          
            border-radius: 50%;
            -webkit-transform:skewX(5deg);
              -ms-transform:skewX(5deg);
                 transform: skewX(5deg);  
            @include responsive(768){
                -webkit-transform:skewX(10deg);
                  -ms-transform:skewX(10deg);
                    transform: skewX(10deg); 
            }
            &.one{
                background: url('../images/profile-one.jpeg');
                background-size: cover;
                background-position: center center;     
            }
            &.two{
                background: url('../images/profile-two.jpeg');
                background-size: cover;
                background-position: center center;
            }
        }
        .comment-content{
           -ms-flex-preferred-size:80%;
           flex-basis:80%;
           padding: 0 0 ;
           -webkit-transform:skewX(5deg);
            -ms-transform:skewX(5deg);
             transform: skewX(5deg); 
           text-align: center;
            @include responsive(768){
                -webkit-transform:skewX(10deg);
                 -ms-transform: skewX(10deg);
                  transform: skewX(10deg); 
            }        
            @include responsive(768){
            padding-left: 50px;           
            }
            @include responsive(970){
                text-align: initial;
            }
            .desc{
                line-height: 2rem;
                display: none;
                @include responsive(480){
                    display: block;
                }
            }
        }  
    }
    .link{
        display: inline-block;
        position: relative;
        left:50%;
        -webkit-transform:translateX(-50%);
         -ms-transform:translateX(-50%);
          transform: translateX(-50%);
        margin-bottom: 7rem;
    }
}
// booking
.booking{
    padding: 5rem 0;
    .registration-container{
        background: url("../images/home-bg.jpg");
        background-size: cover;
        .overlay{
            background: rgba($color-white, 0.8);
            @include responsive(970){
                -webkit-clip-path: polygon(0 0, 60% 0, 50% 100%, 0 100%);
                clip-path: polygon(0 0, 60% 0, 50% 100%, 0 100%);

            }
        }
        .personal-details{
            padding: 2rem;
            text-align: center;
            
            @include responsive(480){
                padding: 3rem;
                text-align: initial;
            }
            @include responsive(970){
                max-width: 55%;     
            }     
        }
        .form-group{
            padding: 1rem 0;
        }
        .form-control{
            outline: none;
            border: none;
            padding: 1rem ;
            width: 100%;
        }
        input[type=checkbox]{
            appearance: none;
            outline: none;
            width: 25px;
            height: 25px;
            border: 4px solid $color-primary;
            background: rgba($color-white,0.5);
            border-radius: 50%;          
        }
        .checkbox-container{
            @include responsive(595){
            @include flex(initial, space-around);
            }     
        }
    }
}
// footer
.footer{
    .container {
        padding: 1rem;
    }
    &-link{
       text-decoration: none;
       display: inline-block;
       text-align: center;
       margin-right: 10px
    }
    .service-container{
        @include flex(center,center,column);   
        .service-list{
            border-top: 1px solid $color-white;
            padding-top: 1rem; 
            margin: 3rem;  
           @include font($font-small,300);      
           @include responsive(1080){
            margin: 0;
            -ms-flex-item-align:end;
            align-self: flex-end;
           }
        }
        ul{
            text-align: center;
            padding:  0;  
            -webkit-box-orient:vertical;
             -webkit-box-direction:normal;
               -ms-flex-direction:column;
                 flex-direction:column;
            @include responsive(768){
                -webkit-box-orient:horizontal;
                  -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                      flex-direction:row;
             } 
        } 
        li{
            margin-right:1rem;
        }
        .copyright{
           @extend .service-list; 
        }
        @include responsive(1080){
            @include flex(initial,space-between); 
            min-height: 200px;
        }
    }
    @include responsive(1080){
        padding: 5rem 0;
        .container {
            padding: 1rem 5rem;
        }
    }  
}